.row-header-title{
    height: 35px;
    margin: 8px 0;
}
.h1-title {
    font-weight: 700;
    font-size: 18px;
    /*padding: 6px 0;*/
    /*padding-bottom: 2px;*/
    line-height: 32px;
}
#ul-content-pho-bien{
    display: flex;
    list-style-type: none;
    padding: 0;

}

#ul-content-pho-bien li{
    width: 15.6%;
    margin-right: 10px;
    margin-bottom: 1%;
}

.image-comic-tab{
    width: 100%;
    height: 220px;
    position: relative;
}
.content-tab a {
    width: 100%;
    height: 100%;
    display: block;
}